body{
    background-color: white;
}
.navbar{
border-radius: 0;
background-color: aqua;
padding: 5px 5px;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}